.splash-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
.char {
    position: absolute;
    font-size: 5rem;
    transition: all 2s ease;
  }
  
  /* You can add more specific styles for each char if needed */
  .char-0 { color: red; }
  .char-1 { color: green; }
  .char-2 { color: blue; }
  .char-3 { color: yellow; }
  .char-4 { color: peru; }

.char.animate {
    top: 50% !important;
    left: calc(50% - 60px) !important; /* Adjust this based on how you want the logo to appear */
  }
  
  